.bg-darkblue  {
    background-color: #34495E;
}
.text-gold {
    color: #AE982A !important;
}
.text-gold:hover {
    color: #D35400 !important;
}
.text-orange {
    color: #D35400 !important;
}
.navbar .navbar-brand img {
    height: 90px;
}
.navbar {
    font-family: 'Open Sans', bold;
    font-weight: 900;
    font-size: calc(12px + 0.8vw);
}
body { 
    padding-top: 116px; 
}
.page-footer {
    display: flex !important;
    height: 10vh !important;
    color: white;
    align-items: center;
    font-family: 'Open Sans', bold;
    justify-content: center;

}